@tailwind base;
@tailwind components;
@tailwind utilities;

.one {
  overflow: hidden;
  background-color: white;
}
.first {
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 200px;
  margin-left: 20px;
}
.second {
  width: 80px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 180px;
  padding-left: 800px;
}
.seven {
  text-align: center;
  padding-top: 40px;
  color: white;
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}
.GODISGOOD {
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: lighter;
  padding-bottom: 40px;
}
